/*-------- color pallet ---------*/
.first-color { 
	background: #222831; 
}
.second-color { 
	background: #2d4059; 
}
.third-color { 
	background: #ff5722; 
}
.fourth-color { 
	background: #eeeeee; 
}
/*-------- color pallet ---------*/
/*-------- page css ---------*/

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    height:3.5rem;
    background-color:#222831 ;
    z-index: 5;
 }
 .copyright {
    font-size: 0.8em;
    text-align: center;
    color: #eeeeee63;
    margin-top: 4px;
}
.footerLinks {
    color:#eeeeee;
    display: flex;
    gap: 1rem;
    list-style-type:none;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 0px;
}
li:hover {
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    color:#ff5722
}