.card {
    position: relative;
    background: whitesmoke;
    border-radius: 15px;
    box-shadow: 1px 3px 5px;
}
.cardImage {
    position: relative;
    padding: 5px 8px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px;
}
h3 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    color: whitesmoke;
}
.guestsTimer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
span.max {
    align-items: baseline;
    padding-left: 5px;
}
.description {
    padding-left:1rem;
    padding-right: 1rem;
}
.danger_btn { 
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    color: rgb(245, 15, 15);
    border: 1px solid rgba(229, 0, 0, 0.763);
    background-color: transparent;
}
.danger_btn:hover {
    color: black;
    background-color:rgba(229, 0, 0, 0.763);
}
