/*-------- color pallet ---------*/
.first-color { 
	background: #222831; 
}
.second-color { 
	background: #2d4059; 
}
.third-color { 
	background: #ff5722; 
}
.fourth-color { 
	background: #eeeeee; 
}
/*-------- color pallet ---------*/

.history_title {
    color: #ff5722;
    margin-top: 2rem;
    
}
.auction_history {
    background-color: #222831;
    margin-bottom: 20px;
    ;
}

.list_item {
    margin: 0.5rem 1.5rem;
    color:#222831 ;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    
    

}