
.search {
    display:flex;
    background-color: transparent;
    border-radius: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.1rem;
    
}
label{
    font-size: 1.1rem;
    margin-bottom: 0px;
    color: #ffffffcb;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Sniglet', cursive;
    

}
input {
border-radius: 10px;
background-color:transparent;
text-align:center;
color: black;

}
input:focus{
    outline: #c8ff2f7e;
}
input:hover {
    background: #c8ff2f7c;
}
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    border-radius: 50px;
    background-color: transparent ;
    border: 1px solid #c6ff2f;
    color:#000000b7;
}
button:hover{
    background:#c8ff2f9c;
    color:black;
    font-weight: 600;
    font-family: 'Sniglet', cursive;
    transition: 0.5sec ease-in-out;
}