/*-------- color pallet ---------*/
.first-color { 
	background: #222831; 
}
.second-color { 
	background: #2d4059; 
}
.third-color { 
	background: #ff5722; 
}
.fourth-color { 
	background: #eeeeee; 
}
/*-------- color pallet ---------*/

/*-------- component css ---------*/

.navbar {
    background-color: #2d4059;
    width: 100%;
    color: #eeeeee;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.userId {
    color:#ff5722;
    
}
