/*-------- color pallet ---------*/
.first-color { 
	background: #222831; 
}
.second-color { 
	background: #2d4059; 
}
.third-color { 
	background: #ff5722; 
}
.fourth-color { 
	background: #eeeeee; 
}
/*-------- color pallet ---------*/

/*-------- component css ---------*/

.navbar {
    background-color: #2d4059;
    
    top:0;
    right: 0;
    width: 100%;
    color: #eeeeee;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
.user_profile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 0.3rem;
    margin-top: 1.5rem;
}
.userId {
    margin-right:1.5rem;
    color:#eeeeee;
    font-size: 1rem;
}
.user_icon {
    font-size: 1.8rem;
    color:#ff5722;
    padding: 0px 5px 
}
.logo {
    padding-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top:0;
    left:0;
    z-index: 4;
}
.img {
    width:200px;
    height: 150px;
    margin-top: -5px;
}

