@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@1,400;1,600&family=Prata&family=Sniglet:wght@800&family=Staatliches&family=Yanone+Kaffeesatz:wght@500&display=swap');


.logo {
    margin:0px;
    font-size: 5.5rem;
    color:#c6ff2f !important;
    font-family: 'Sniglet', cursive;
}
.navbarMain {
    background: transparent;
    height: 80px;
}
.searchIcon {
    color: #c6ff2f !important;
    border-color: #c6ff2f !important;
}
#basic-nav-dropdown {
    padding-left: 0px !important;
}
@media only screen and (max-width: 425px) {
    .logo{
        font-size: 3em;
        margin-top: -20px
    }
    .navbarMain {
        background: transparent;
        
        
    }
    #basic-navbar-nav {
        margin-top: -20px;
    }
    .navbar-toggler .collapsed {
        margin-top: -40px;
    }
}


