@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

body {
  margin: 5px;
  background: rgb(74, 74, 74);
  background: linear-gradient(180deg, rgba(66,66,66,1) 6%, rgba(133,138,126,1) 84%, #c6ff2f 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

