@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
 
  margin: 1rem 1rem;
  background: rgb(74, 74, 74);
  background: linear-gradient(180deg, #424242 6%, #858a7e 84%, #c6ff2f 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

