@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
 
  margin: 0rem 1rem 1rem 1rem;
  background: rgb(243, 242, 240);
  background: linear-gradient(180deg, #f7f6f6 6%, #f6ffe900 84%, #0d62a300 100%);
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

